 .headerContainer {
    max-width: 900px;
    margin: 40px auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
 }
 
 .container {
   display: flex;
   max-width: 900px;
   margin: auto;
   gap: 80px;
 }
 .container .leftSide {
   flex: 1;
   display: flex;
   flex-direction: column;
   gap: 20px;
   
 }

 .leftSide h1 {
   font-size: 40px;
   color: #3a4b5c;
 }

 .leftSide p {
   font-size: 16px;
   color: #6a7d8b;
 }

 .leftSide input {
   padding: 10px 2px;
   font-size: 14px;
   border: 0;
   border-bottom: 2px solid rgba(150, 163, 171, .5);
   outline: none;
 }

 .leftSide input:disabled {
  opacity: 0.5;
  background-color: transparent;
  outline: none;
 }

 .leftSide  button {
      
      background-color: #227c9d;
      color: #fff;
      font-size: 15px;
      border: 0;
      border-radius: 10px;
      padding: 10px 0;
      cursor: pointer;
      margin-top: 35px;
      transition: all ease .3s;
 }
  
 .leftSide  button:hover {
   opacity: .8;
   
 }

 .leftSide button:disabled {
  opacity: 0.5;
 }



 .container .rightSide {
   flex: 1;
   display: flex;
   /* background-color: black; */
 }

 .rightSide .grid {
   flex: 1;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;

 }

 .rightSide  .rightBig {
  flex: 1;
   display: flex;
   
 }

 .rightArrow {
  display: flex;
  flex: 1;
 }
 
 .container .rightSide .rightArrow1 {
     
  position: absolute;
  background-color: #227c9D;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: -35px;
  margin-top: 145px;

 }

 /*========= RESPONSIVIDADE ============ */

 @media screen and (max-width: 913px) {
       .container {
        flex-direction: column;
        padding: 0 20px;
       
       }
       header {
        padding: 0 20px;
       }
       .container .rightSide .rightArrow1 {
         margin-left: 0;
         margin-top: 0;
         border-radius: 10px;
       }

      
      
}

@media (max-width: 430px){
  .container .leftSide h1 {
        font-size: 25px;
  }
  .container .leftSide p {
    font-size: 15px;
  }
  .container .rightSide .grid{
    grid-template-columns: 1fr;
    
  }
}